<div class="intro-header" ng-controller="MeetupCtrl">
    <div style="background: url({{meetups[0].image}}) no-repeat;background-size: cover;min-height: 100%;padding-top: 10px">
        <h1>Next Meetup</h1>
        <h3>{{meetups[0].date}} - {{meetups[0].host}}</h3>
        <a href="{{meetups[0].meetup}}"><img src="img/icons/meetup.png" height="70"></a>
        <a href="{{meetups[0].facebook}}"><img src="img/icons/64/64-facebook.png" ></a>
    </div>
</div>
<!-- /.intro-header -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Docker Kuala Lumpur</h2>
                <hr class="section-heading-spacer">
                <p class="lead">We are docker KL, User group of docker. Our goal is to share knowledge about docker powers and how it can save our time and sanity in age of cloud. we will have meetups time to time, discussion and workshops.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-circle" src="img/docker.jpg" alt="" width="300" height="300">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="content-section-b" ng-controller="MeetupCtrl">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{meetups[0].title}}</h2>
                    <hr class="section-heading-spacer">
                    <p class="lead">
                            Date & Time : {{meetups[0].date}} (6:30 PM till 8:30)
                            <br>
                        <br>Venue : {{meetups[0].host}}
                        <br>{{meetups[0].location}}
                            <br>
                        <br>Agenda:
                        <br>18:30 - Doors opens & Networking starts 
                        <br>19:00 - Speaks and presentations
                        <br>21:15 - Venue closes
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.7605055649115!2d101.71160900000002!3d3.157722999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc37d6d1b2f571%3A0x794f7f7fa51babc5!2sAsia+Telecommunications+(M)+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1438916671226" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

	