<!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Devnest People
                    <small>Organizers and Speakers</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive img-circle" src="img/amir.jpg" alt="" width="200" height="200" >
                </a>
            </div>
            <div class="col-md-9">
                <h3>Amireza Fatemi</h3>
                <h4>Co-Founder</h4>
                <h4>Software Developer at Nintex</h4>
                <p>passionate about technology and how it changes mankind life. Prior to Devnest, Amir has been involved in designing and developing number of cloud based software. In Devnest he is focusing on creating and bridging communities together.
                </p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="https://my.linkedin.com/pub/amireza-fatemi/26/574/bb4" data-format="hover" data-text="Linkedin"></script>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive img-circle" src="img/milad.jpg" alt="" width="200" height="200" >
                </a>
            </div>
            <div class="col-md-9">
                <h3>Milad Rezazadeh</h3>
                <h4>Co-Founder</h4>
                <h4>Software Developer at Nintex</h4>
                <p>A software developer, who never hesitates to face the upcoming technology challenges, and loyal team member that greatly helps his team in achieving results. Besides the positive work attitude, Milad's strong social skills help him to spread optimism to the people around him.
                </p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/miladrk" data-format="click" data-related="false" data-text="Linkedin"></script>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive img-circle" src="img/mohamad.jpg" alt="" width="200" height="200" >
                </a>
            </div>
            <div class="col-md-9">
                <h3>Mohammad Arab</h3>
                <h4>Speaker</h4>
                <h4>Cloud Engineer at Nintex</h4>
                <p>He is from Mechanical Engineering background and has been in IT field for more than 10 years working with various technologies. He’s passionate about cloud technologies and dust computing. He is Automation enthusiast and lean practitioner.
                </p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="https://my.linkedin.com/in/boynux" data-format="hover" data-related="false" data-text="Linkedin"></script>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->