<form action="/registeremail" method="post">
    <div class="col-sm-12"><input class="button email" type="text" name="name" placeholder="please enter your name here" id="name"></div>
        <div class="col-sm-12"><input class="button email" type="email" name="email" placeholder="please enter your email address" id="email"></div>
        <div class="col-sm-12">
            <select class="button email" name="position">
              <option value="sofware architect">Software Architect</option>
              <option value="sofware developer" selected>Software Developer</option>
              <option value="quality engineer">Quality Engineer</option>
              <option value="devops engineer">DevOps Engineer</option>
              <option value="manager">Manager</option>
              <option value="IT">IT Engineer</option>
              <option value="other">Other</option>
            </select>
        </div>
        <div class="col-sm-12"><input type="submit" value="Submit"></div>
        <div class="col-sm-12"></div>
        <div class="col-sm-12">
            <img src="img/Nintex_Labs2.png" alt="">
        </div>
    </div>
</form>