.view-animate-container {
  height:100%;
  
}

.view-animate {
  padding-bottom: 150px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

  display:block;
  width:100%;

  position:absolute;
  left:0;
  right:0;

}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.animate-enter, 
.animate-leave
{ 
    
} 
 
.view-animate {
    left: 100%;
}
.view-animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}