<div style="background: #8A0829;height:100%">
    <div class="container" >
        <div class="row" style="padding: 30px 0px;">
            <div class="col-md-3">
                <img class="img-responsive img-circle" src="/img/exact.png" width="200" height="200">
            </div>
            <div class="col-md-9">
                <h2 style="color:white;">
                    Exact offers business software in the cloud for smaller and larger sized companies.
                    serving a wide range of branches and supporting multiple business processes.
                </h2>
                <a href="https://www.linkedin.com/company/exact">
                        <img src="/img/icons/64/64-linkedin.png">
                    </a>
                <a href="https://www.youtube.com/user/ExactTV">
                    <img src="/img/icons/64/64-youtube-2.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 style="color:white;">Software and Services</h3>
                <p style="color:white;">
                    Exact develops industry-specific on-premises, hosted and cloud-based solutions in a wide variety of industries. Ranging from manufacturing, wholesale & distribution to professional services and accountancy. They support all major business processes such a production, logistics, finance & administration, HR, sales and marketing. With these solutions, Exact helps you run your business more efficiently. And because they are there every step of the way, they provide high quality services to their customers.
                </p>
            </div>
            <div class="col-md-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/LapiyL8SKeY" frameborder="0" allowfullscreen></iframe></div>
        </div>
            <hr>
        <div class="row">
            <div class="col-md-2">
                 <a href="#">
                        <img src="/img/docker.jpg" alt="" height="130" >
                    </a>
            </div>
            <div class="col-md-7">
                <h3 style="color:white;">Host for 2nd Docker KL meetup</h3>
                <p style="color:white;">
                    Scaling up Microservices using docker and automating the process with it. Also using Ansible and docker for optimization your software. 
                </p>
            </div>
            <div class="col-md-3">
                 <a href="#">
                        <img src="/img/icons/meetup.png" alt="" height="130" >
                    </a>
            </div>
        </div>
    </div>
</div>