<div style="background: #2E2E2E;height:100%">
    <div class="container" >
        <div class="row" style="padding: 30px 0px;">
            <div class="col-md-3">
                <img class="img-responsive img-circle" src="/img/nintex.jpg" width="200" height="200">
            </div>
            <div class="col-md-9">
                <h2 style="color:white;">
                    Nintex Named to Seattle Business Magazine’s 100 Best Companies to Work For 
                </h2>
                <a href="https://www.linkedin.com/company/exact">
                        <img src="img/icons/64/64-linkedin.png">
                    </a>
                <a href="https://www.youtube.com/user/ExactTV">
                    <img src="img/icons/64/64-youtube-2.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/YGEHsxMEtmM" frameborder="0" allowfullscreen></iframe></div>
            <div class="col-md-6">
                
                <h3 style="color:white;">The World Leader in Workflow</h3>
                <p style="color:white;">
                    Nintex is the world’s leading workflow company. Nintex workflow platform automates processes on and between today's most used enterprise content management systems and collaboration platforms, connecting on-premises, cloud workflows and mobile users. Nintex platform helps organizations automate their business processes quickly and easily.
                </p>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-md-2">
                 <a href="#">
                        <img src="/img/docker.jpg" alt="" height="130" >
                    </a>
            </div>
            <div class="col-md-7">
                <h3 style="color:white;">Host for 1st Docker KL meetup</h3>
                <p style="color:white;">
                    About docker and how we it revolutionized software development and deployment by one of the best engineers in field.  
                </p>
            </div>
            <div class="col-md-3">
                 <a href="#">
                        <img src="/img/icons/meetup.png" alt="" height="130" >
                    </a>
            </div>
        </div>
    </div>
</div>