<div style="background: #424242;background-size: cover;min-height: 100%;padding-top: 10px">
    <div class="container" style="color:white;">
        <h1> Bio & Materials </h1>
        <h3>Meetup #2 : Scaling Microservices + Optimizing with Ansible</h3>
        <hr>
        <h2>Bahman Fakhr Sabahi</h2>
        <h3></h3>
        <p>
            Bahman is a Cloud Engineer at Exact ADC, working on migration of current Exact Online “Monolithic” Cloud application into a new Microservice oriented architecture with a very enthusiastic team. He is passionate about technology and crave to learn new stuff around it. 
            <br/><br/>
            He has more than 8 years of experience in Software Development field with colourful domains and areas from game programming, Artificial Intelligence and data mining to cloud engineering. He studied Hardware engineering and later Computer science. He believes “Coding is Art” and always emphasize on software craftsmanship vs. software engineering.
            <br/><br/>
            In his free time he enjoy playing Piano, loves reading books, playing video games, and spend time with his family. He also likes to travel and meet new people.
        </p>
        <h4><a href="https://prezi.com/jarywc9-bdsw/microservices/?utm_campaign=share&utm_medium=copy">Get Slides</a></h4>
        <hr>
        <h2>Manuel Riel</h2>
        <p>
            DevOps and Python developer for Quantego and various other startups, freelance consultant Manuel originally studied international management, but always had a keen interest in IT. 
            <br/><br/>
            He quickly realized that the most exciting things will happen in IT. Today he specializes in Python backend development and deployment. His startups are involved in stochastic optimization for power plants and data mining to match applicants to job openings.
            <br/><br/>
            He spends his rare free hours hiking the Malaysian jungle and sampling new coffee shops.
        </p>
        <h4><a href="http://talks.quantego.com/KUL-2015.html#1">Get Slides</a></h4>
    </div>
</div>