<div class="container" ng-controller="MeetupCtrl">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Meetups
                    <small>single meetup</small>
                </h1>
            </div>
        </div>
        <div ng-repeat="meetup in meetups">
            <div class="row">
                <div class="col-md-7">
                    <a href="{{meetup.meetup}}">
                        <img class="img-responsive meetup-cover" src="{{meetup.image}}" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="{{meetup.meetup}}"><img src="img/icons/meetup.png" width="128"></a>
                    <h3 style="margin-top:0px;">{{meetup.title}}</h3>
                    <h4>{{meetup.date}}</h4>
                    <p>{{meetup.description}}
                    <br>
                    Speakers:<br>
                    <div ng-repeat="speaker in meetup.speakers">
                        <strong>{{speaker.name}}</strong>
                        <br>{{speaker.title}}
                        <br>
                    </div>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        
</div>