<style type="text/css">
    .biggerFont { font-size: 2rem; height: 50px; width:100%;}
    .whiteColor{ color:white;}
</style>
<div style="background: #E1141D;background-size: cover;min-height: 100%;padding-top: 10px">
    <div class="container" style="text-align:center">
        
        <img src="/img/exact_white.png" >
        
        <h3 class="whiteColor"><img class="img-circle" src="/img/docker.jpg" width="90" height"90"> Meetup hosted by Exact Asia Development Center</h3>
        <div class="row" style="padding: 30px 0px;">
            <h1 class="whiteColor">
                Please register here
            </h1>
            <form role="form" data-toggle="validator" ng-submit="register();">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <input class="form-control biggerFont" placeholder="please enter your name here" ng-model='form.name'>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control biggerFont" placeholder="please enter your email address" ng-model='form.email' data-error="Bruh, that email address is invalid" required>
                        </div>
                        <div class="form-group">
                            <select class="button email biggerFont control" ng-options="position.name as position.name for position in positions" ng-model='selectedPosition'>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control biggerFont" placeholder="please enter your company name" ng-model='form.company'>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary control biggerFont">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
                <!--<h5 class="whiteColor">Organized by
                    <img class="img-circle" src="/img/square_devnest_logo.png" width="70" height="70" >
                </h5>-->
        </div>
    </div>
</div>