<style type="text/css">
    .biggerFont { font-size: 2rem; height: 50px; width:100%;}
</style>
<div style="background: background: #E1141D;background-size: cover;min-height: 100%;padding-top: 10px">
    <div class="container" style="text-align:center">
        <img src="/img/exact-logo2.png" >
        <h3><img class="img-circle" src="/img/docker.jpg" width="90" height"90"> Meetup hosted by Exact Business Software</h3>
        <h1>Thank You.</h1>
        <form action="/register">
        <div class="form-group">
            <button type="submit" class="btn btn-primary control biggerFont">Go back</button>
        </div>
        </form>
        <h4>Organized by <img src="/img/logo_t.png" width="250"></h4>
    </div>
</div>